*.sdf
*.opensdf
*.suo

debug/
release/

eshared/engine/shaders/globals.hpp
eshared/engine/shaders/ps_*.hpp
eshared/engine/shaders/cs_*.hpp
eshared/engine/shaders/vs_*.hpp

estudio4/gui/moc_*.cpp
estudio4/gui/ui_*.h
estudio4/resources/qrc_*.cpp